<!DOCTYPE html>
<html>
    <head>
        <title>Floor Tiles Generator</title>
        <style>
            input {
                display: block;
                margin-bottom: 20px;
            }

            body {
                display: flex;
            }
        </style>
    </head>

    <body>
        <div>
            <h4>Texture size</h4>

            <div>
                <label for="width">Width:</label>
                <input id="width" type="number" name="width" step="1" value="1024" min="1"/>

                <label for="width">Height:</label>
                <input id="height" type="number" name="height" step="1" value="1024" min="1"/>
            </div>

            <hr/>

            <h4>Properties</h4>

            <div>
                <label for="tiles">Tiles:</label>
                <input id="tiles" type="file" name="tiles" multiple/>

                <label for="rows">Rows:</label>
                <input id="rows" type="number" name="rows" step="1" value="6" min="1"/>

                <label for="cols">Columns:</label>
                <input id="cols" type="number" name="cols" step="1" value="2" min="1"/>

                <label for="offset">Offset:</label>
                <div>
                    <select id="offset" name="offset">
                        <option value="0">Random</option>
                        <option value="1">Zero</option>
                    </select>
                </div>

                <label for="margin">Margin:</label>
                <input id="margin" type="number" name="margin" step="1" value="2" min="0"/>
            </div>

            <hr/>

            <button id="run">Build</button>
        </div>

        <div>
            <p>Display</p>
        </div>
    </body>
</html>